<p id="notice"><%= notice %></p>

<p> 
<div class="heading">
  <%= @club.name %>
</div>
</p>

<div class="map">
<p>
  <strong>Location:</strong>
  <%= @club.location %>
  	<p>
        <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAAiCRdJuc3KbZmfKzLhPkm4DAoG5-7lcA&q=<%= @result.latitude %>,<%= @result.longitude %>">
</iframe>
	</p>
</div>

  <div class="fb-like-box" data-href="<%= @club.facebook %>" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true">
    
  </div>
