<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @club.location %>
  	<p>
        <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAAiCRdJuc3KbZmfKzLhPkm4DAoG5-7lcA&q=<%= @result.latitude %>,<%= @result.longitude %>">
</iframe>
	</p>

<p>
  <strong>Manager:</strong>
  <%= @club.manager %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
