<h1>Change your password</h1>

<%= form_for @player, url: password_reset_path(@player.password_reset_token), html: { method: :path } do |form| %>

	<%= form.label :password %>
	<%= form.password_field :password %>

	<br>

	<%= form.label :password_confirmation, "Password(again)" %>
	<%= form.password_field :password_confirmation %>

	<br>

	<%= submit_tag "Change Password" %>

	<% end %>