<%= form_for(@player) do |f| %>
  

  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :Full_Name %><br>
    <%= f.text_field :name %>
  </div>

  <% if @current_player %>
     <div class="field">
      <%= f.label :Matrix_Goal %><br>
      <%= f.text_field :player_num %>
    </div>

 <% else %>

    <div class="field">
      <%= f.label :SquashMatrix_Id %>  (<%= link_to 'https://squashmatrix.com' %>)<br>
      <%= f.text_field :id %>
    </div>

  <% end %>

  <div class="field">
        <% clubs_array = Club.all.map { |club| [club.name, club.id] } %>
    <%= f.select(:club_id, options_for_select(clubs_array)) %>

  <%= options_for_select(clubs_array) %>
</div>


  
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

    <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="actions">
    <%= f.submit "save" %>
  </div>
<% end %>
