<h1>Listing outcomes</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Result</th>
      <th>Games</th>
      <th>Points</th>
      <th>Matrix change</th>
      <th>Matrix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= @matches.all %>
 
    <% if @matches %>
    <% @matches.each do |match| %>
      <tr>
        <td><%= Player.find_by(:id => match.winner_id).name %></td>
        <td><%= match.winner_games %></td>
        <td><%= match.winner_points %></td>
        <td><%= match.winner_matrix_change %></td>
        <td><%= match.winner_before_matrix %></td>
        <td><%= link_to 'Show', outcome %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
