<p id="notice"><%= notice %></p>

<h1>Listing matches</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Opponent</th>
      <th>Date</th>
      <th>Result</th>
      <th>Games</th>
      <th>Points</th>
      <th></th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
  	 <% @matches.each do |match| %>
        <% if match.winner_id == @player.id %>
          <tr> 
            <td> <%= @player.name %></td>
            <td><%= match.loser.name %></td>		
            <td><%= match.date %></td>
            <td>1</td>
            <td>
              <table>
          		  <tr>
          			 <td><%= match.winner_games %>: </td>
          			 <td><%= match.loser_games %></td>
  				      </tr>
          	 </table>
      	   </td>
      	   <td>
            <table>
          		<tr>
          			<td><%= match.winner_points %>: </td>
          			<td><%= match.loser_points %></td>
  				    </tr>
          	</table>
      	   </td>
          <td><%= link_to 'Edit', edit_match_path(match) %></td>
        </tr>
      <% elsif match.loser_id == @player.id %>
        <tr> 
          <td><%= @player.name %></td>
          <td><%= match.winner.name %></td>    
          <td><%= match.date %></td>
          <td>0</td>
          <td>
            <table>
              <tr>
                <td><%= match.loser_games %>: </td>
                <td><%= match.winner_games %></td>
              </tr>
            </table>
          </td>
          <td>  
            <table>
              <tr>
                <td><%= match.loser_points %>: </td>
                <td><%= match.winner_points %></td>
              </tr>
            </table>
          </td>
          <td><%= link_to 'Edit', edit_match_path(match) %></td>
        </tr>
  		<% end %>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
