<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Matrix:</strong>
  <%= @player.matrix %>
</p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @player.phone %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @player.avatar %>
</p>

<p>
  <strong>Club:</strong>
  <%= @player.club.name %>
</p>
<%= link_to 'Match History', '/matches/showall' %>


<%= link_to "click here" , {:action => "match_history", :controller => "players" }, :id => @player.id %>
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
