<p id="notice"><%= notice %></p>

<div class="playerdiv">
<p class="heading">
  <%= @player.name %>
</p>

<p class="avatarimg">
  <%= image_tag @player.avatar %><br>
  <%= link_to "Change Avatar", edit_player_path(@current_player) %>
</p>
</div>
<div class="playerstats">
<p>
  <strong>Matrix:</strong>
  <%= @player.matrix %>
</p>

<p>
  <strong>Email:</strong>
  <%= link_to @player.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @player.phone %>
</p>


<% if Club.find_by(:id => @player.club_id).nil? %>
<p>
  <strong>Club:</strong>
  No club. You can <%= link_to 'edit', edit_player_path(@current_player) %> your player page to add a club.
</p>

<% else %>
<p>
  <strong>Club:</strong>
  <%= link_to @player.club.name %>
</p>

<% end %>

<% if @player.player_num.nil? %>
<p>You have not entered a Matrix Goal. <%= link_to "Click here", edit_player_path(@current_player)%> to do so.</p>
<% else %>
<p>
  <strong>Matrix Goal:</strong>
  <%= @player.player_num %>
</p>

<p>
  <strong>Points to get to goal:</strong>
  <%= @player.player_num.to_i - @player.matrix.to_i %>
</p>

<% end %>
</div>
<div class="winplanner">
  <h3> Plan your next win! </h3>

<%= form_tag do %>
  Form contents
<%= submit_tag %>
<% end %>

<%#= form_tag :action => 'whatif', :controller => "players", :id => @player.id, :method => :post do %>

  <!-- <div class="field">
    <p class="whatif"> Winner <p>
    <input type="text" name="winner" value="<%#= @current_player.name %>" placeholder="<%#= @current_player.name %>" class="whatif_field">
  </div>
  <div class="field">
  <p class="whatif"> Loser <p>
    <input type="text" name="loser" class="whatif_field">
  </div> -->

<%#= submit_tag 'Get future matrix!', :class=> "futurematrixsubmit" %>
<%# end %>

<%= yield %>

</div>

<div>
  <br>

  <%= render 'match_history' %>

<%= link_to 'What if?', {:action => "whatif", :controller => "players" }, :id => @player.id %>

<%= link_to 'Match History', '/matches/showall' %>


<%= link_to "click here" , {:action => "match_history", :controller => "players" }, :id => @player.id %>
<%= link_to 'Edit', edit_player_path(@player) %> |


<%= form_tag '/results', :method => :get do %>
<%= submit_tag 'Get Data', :class => "btn btn-default" %>
<% end %>
</div>
