<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :winner_id %><br>
    <%= f.number_field :winner_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>
   <div class="field">
    <%= f.label :winner_games %><br>
    <%= f.number_field :winner_games %>
  </div>
  <div class="field">
    <%= f.label :loser_games %><br>
    <%= f.number_field :loser_games %>
  </div>
    <div class="field">
    <%= f.label :winner_points %><br>
    <%= f.number_field :winner_points %>
  </div>
   <div class="field">
    <%= f.label :loser_points %><br>
    <%= f.number_field :loser_points %>
  </div>
  <div class="field">
    <%= f.label :loser_before_matrix %><br>
    <%= f.number_field :loser_points %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
