<!DOCTYPE html>
<html>
<head>
  <title>SquashMatrixProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fb-root"></div>

<script>
   window.fbAsyncInit = function() {
    FB.init({
      appId      : '284167801776513',
      xfbml      : true,
      version    : 'v2.1'
    });
  };
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class = "container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SquashPlayer</a>
    </div>
    <div class="navbar-collapse collapse">
          <% if @current_player.present? %>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to('My Profile', @current_player) %></li>
        <li><%= link_to('My Match History', '/results') %></li>
        <li><%= link_to('All Players', players_path) %></li>
        <li><%= link_to('Clubs', clubs_path) %></li>
        <li><%= link_to('Teams', teams_path) %></li>
        <li><%= link_to('Divisions', divisions_path) %></li>
        <li><%= link_to('Competitions', competitions_path) %></li>
        
    </ul>
<ul class="nav navbar-right navbar-nav">
    <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag @current_player.avatar %> <span class="caret"></span></a>
         <ul class="dropdown-menu" role="menu">
          <li><a href="#"><%= link_to(@current_player.name, @current_player) %></a></li>
          <li class="divider"></li>
          <li><a href="#"><%= link_to('Edit profile', edit_player_path(@current_player)) %></a></li>
          <li class="divider"></li>
          <li><a href="#"><%= link_to('Sign out', login_path, :method => :delete, :data => {:confirm => 'Are you sure?'}) %></a></li>
        </ul>
      </li>
  </ul>
    <% else %>
    <%= form_tag '/login', :class => "navbar-form navbar-right", :role => "form" do %>
      <div class="form-group">
        <%= text_field_tag :playername, nil, :autofocus => true, :class => 'form-control' %>
      </div>
      <div class="form-group">
        <%= password_field_tag :password, nil, :class => 'form-control', :placeholder => "Password" %>
      </div>
       <%= submit_tag 'Sign in', :class => "btn btn-success" %>
       <% end %>
<% end %>
</div>
  </div><!--/.navbar-collapse -->
</div>

<div class="container">
   <% if @current_player.present? %>
    <%= yield %>
   <% else %>
   <%= yield %>
    <% end %>
</div>
</body>
</html>
